<h1 class="mt-6">Dashboard</h1>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<table table-bordered table-responsive>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
            <th>date</th>
            <th colspan="2">action</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < users.length ; i++) { %>
        <tr>
            Hello <%= users[i].name  %>
            <h1 class="mt-3">you are logged in the <%= users[i].role  %> department </h1>
            <br>
            <br>
            <td><%= users[i].name  %></td>
            <td><%= users[i].name  %></td>
            <td><%= users[i].email  %></td>
            <td><%= users[i].password%></td>
            <td><%= users[i].date  %></td>
            <td><a class="btn btn-primary" href="./users/edit/<%= users[i].id %>">Edit</a></td>
          
            <td><a class="btn btn-danger delete" href="./users/delete/<%= users[i].id %>">Delete</a></td>
        </tr>
        <% } %>
    </tbody>

</table>